/* * {
    border: 1px solid red;
} */
body {
    margin: 0;
    font-size: 24px;
    background-color: #3a9bd5;
}
header, footer {
    background-color: #3a9bd5;
    border-radius: 10px;
}
nav {
    text-align: center;
    padding: 40px;
}
nav a {
    padding: 30px;
    /* border: 1px solid black; */
    color: black;
}
nav a:hover {
    color: white;
    text-decoration: none;
}
#content {
    max-width: 900px;
    background-color: white;
    margin: 40px auto;
    padding: 60px;
    border: 3px solid black;
}
img {
    width: 55%;
    display: block;
    margin: 50px auto;
    border: 2px solid red;
    padding: 40px;
    border-radius: 20px;
  
}
/* h2, p, a, footer {
    margin-left: 40px;
    margin-right: 40px;
} */

#title {
    text-align: center;
    font-size: 3em;
}
.shadow {
    background-color: lightgray;
}
p {
    
    padding: 40px;
}
footer {
    text-align: center;
}